@model  CharCertDet

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>


@using (Html.BeginForm(Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.RegisterTypeID)
    @Html.HiddenFor(model => model.WEBstatusID)

    <div class="form-horizontal">      
            <h4> No Objection Certificate</h4>  
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model?.CharacterID >0)
        {
            @Html.HiddenFor(model => model.CharacterID)
        }

        <table class="table" style="width:300px;height:auto;margin-left:30px">
            <thead><b>Document Requirements</b></thead>
            <tr>
                <td>

                </td>
                <th>
                    Sr No
                </th>
                <th>
                    Document Name
                </th>
            </tr>
            @{int i = 1; }
            @foreach (var item in ViewBag.CertReq)
            {
                <tr>
                    <td></td>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.CertificateName
                    </td>
                </tr>
                i++;
            }


        </table>
        <br /><br />
        <span>
            <strong><u>Please fill your form:-</u></strong>
        </span>
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Name Of Person</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Age</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Father Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Mother Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
         <label class="control-label col-md-2">Address</label>          
                  <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            <label class="control-label col-md-2">Ward Of</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.WardOf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WardOf, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Purpose Of</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PurposeOf,3,43,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PurposeOf, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.CharacterID == 0)
        {
            <div class="form-group">
                <label class="control-label col-md-2">Upload Documents</label>
                <div class="col-md-10">
                    <input class="form-control" type="file" id="UploadedFile" name="UploadedFile" />
                    <small>(Upload all your documents in zip folder)</small>
                </div>
            </div>
        }     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "CharIndex", new { rt = 36})
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
}
