@model PagedList.IPagedList<PanchayatWebPortal.HouseTaxCertDet>
@using PagedList.Mvc;


<center>  
        <h2 class="section-to-print"><b>House Tax Transfer</b></h2>  
</center>

<p>

    @Html.ActionLink("Create New", "HTManage",new {rt = ViewBag.RegisterTypeID })
</p>
<table class="table">
    <tr>
        <th>
         Sr No
        </th>
        <th>
          Ward No
        </th>
        <th>
        Person Name
        </th>
        <th>
         Person Address
        </th>
        <th>
          Date
        </th>
        <th>
        Meeting Date
        </th>
        <th>
         Name Of house Tax Holder
        </th>
        <th>
        Fees          
        </th>
        <th>
        Developers Name
        </th>
        <th>
        Developers Address
        </th>     
        <th>
         Status
        </th>
      
        <th></th>

    </tr>
    @{int i = 1; }
@foreach (var item in Model) {
    <tr>
        <td>
           @i
        </td>
        <td>
            @item.WardNo
        </td>
     
        <td>
            @item.PersonName
        </td>
        <td>
            @item.PersonAddress
        </td>
        <td>
            @(String.Format("{0:dd-mm-yyyy}", item.Tdate))
           
        </td>
        <td>
            @(String.Format("{0:dd-mm-yyyy}", item.MeetingDate))
        </td>
        <td>
            @item.PrevPersonName
        </td>
        <td>
            @item.Fees
        </td>
        <td>
            @item.DeveloperName
        </td>
        <td>
            @item.DeveloperAddress
        </td>
    
        <td>
            @item.Status
        </td>
        <td>
            @Html.ActionLink("Edit", "HTManage", new { id=item.HouseTaxCertID,rt = item.RegisterTypeID }) 
        </td>
    </tr>
    i++;
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page}))