@model  HouseTaxCert

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>


@using (Html.BeginForm(Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.RegisterTypeID)
    @Html.HiddenFor(model => model.WEBstatusID)

    <div class="form-horizontal">      
            <h4> Residence Certificate</h4>  
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model?.HouseTaxCertID >0)
        {
            @Html.HiddenFor(model => model.HouseTaxCertID)
        }

        <table class="table" style="width:300px;height:auto;margin-left:30px">
            <thead>Document Requirements</thead>
            <tr>
                <td>

                </td>
                <th>
                    Sr No
                </th>
                <th>
                    Document Name
                </th>
            </tr>
            @{int i = 1; }
            @foreach (var item in ViewBag.CertReq)
            {
                <tr>
                    <td></td>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.CertificateName
                    </td>
                </tr>
                i++;
            }


        </table>
        <br /><br />
        <span>
            <strong><u>Please fill your form:-</u></strong>
        </span>
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Ward No</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.WardNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WardNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Name Of Person</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Meeting Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingDate, new { htmlAttributes = new {@type="date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
         <label class="control-label col-md-2">Name Of Current Tax Holder</label>          
                  <div class="col-md-10">
                @Html.EditorFor(model => model.PrevPersonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrevPersonName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">      
         <label  class="control-label col-md-2">Fees </label>             
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fees, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fees, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Developer Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeveloperName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeveloperName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Developer Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeveloperAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeveloperAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @if (Model.HouseTaxCertID == 0)
        {
            <div class="form-group">
                <label class="control-label col-md-2">Upload Documents</label>
                <div class="col-md-10">
                    <input class="form-control" type="file" id="UploadedFile" name="UploadedFile" />
                    <small>(Upload all your documents in zip folder)</small>
                </div>
            </div>
        }
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "HTIndex",new {rt=27 })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
}
